.container {
  h4 {
    margin: 1rem 0;
    margin-top: 2rem;
  }
  .create-button {
    margin-top: 1rem;
  }
  .user-table {
    width: 100%;
  }
  .custom-column {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
