.container {
    h4 {
      margin: 1rem 0;
      margin-top: 2rem;
    }
    .create-button {
      margin-top: 1rem;
    }
    .user-table{
      width: 100%;
      max-width: 1400px;
    }
    .custom-column {
        width: 100%;
    }
  }